In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('bank-full.csv', sep=';')

In [5]:
df.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [11]:
len(df)

45211

In [13]:
df_positive = df.loc[df['y'] == 'yes']

In [14]:
len(df_positive)

5289

In [15]:
5289/45211

0.11698480458295547

In [18]:
df_unknown = df.loc[df['job'] == 'unknown']
len(df_unknown)

288

In [19]:
df_unknown = df.loc[df['marital'] == 'unknown']
len(df_unknown)

0

In [20]:
df_unknown = df.loc[df['education'] == 'unknown']
len(df_unknown)

1857

In [22]:
df_unknown = df.loc[df['contact'] == 'unknown']
len(df_unknown)

13020

In [17]:
df2 = pd.read_csv('adult.csv')

In [18]:
df2.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,less_than_50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [20]:
df2_more_than = df2.loc[df2['less_than_50K'] != '<=50K']

In [21]:
len(df2_more_than)

7841

In [22]:
len(df2)

32560